[submodule "helix_conf"]
	path = .config/helix
	url = git@github.com:TenzinPlatter/helix_conf.git

[submodule ".zsh"]
	path = .zsh
	url = git@github.com:TenzinPlatter/zsh.git

[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:TenzinPlatter/NeovimConfig.git

[submodule "tp:scripts"]
	path = tp:scripts
	url = tp:dotfiles
[submodule "scripts"]
	path = scripts
	url = tp:scripts
