[submodule "helix_conf"]
	path = .config/helix
	url = git@github.com:TenzinPlatter/helix_conf.git

[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:TenzinPlatter/NeovimConfig.git
	branch = main

[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:TenzinPlatter/zsh.git
	branch = main

[submodule "niri"]
	path = .config/niri
	url = git@github.com:TenzinPlatter/niri.git
	branch = main

[submodule "waybar"]
	path = .config/waybar
	url = git@github.com:TenzinPlatter/waybar.git
	branch = main
