// ════════════════════════════════════════════════════════════════
// WINDOW RULES
// ════════════════════════════════════════════════════════════════

window-rule {
    match is-focused=true
    opacity 0.94
}

window-rule {
    match is-focused=false
    opacity 0.85
}

window-rule {
    background-effect {
        blur true
    }
}

window-rule {
    match title="float"
    open-floating true
}

window-rule {
    match title="rosu"
    open-floating true
}

window-rule {
    match title="Wayfarer"
    open-floating true
}

window-rule {
    match app-id="org.gnome.Loupe"
    open-floating true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id="spotify"
    draw-border-with-background false
    opacity 0.93
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match title="satty"
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="Settings"
    open-floating true
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id="dev.zed.*"
    opacity 0.85
} 

window-rule {
    match app-id="kitty" is-active=true
    opacity 0.90
}

window-rule {
    match app-id="kitty" is-focused=false
    opacity 0.80
}

window-rule {
    match app-id="org.wezfurlong.wezterm" is-active=true
    opacity 0.90
}

window-rule {
    match app-id="org.wezfurlong.wezterm" is-focused=false
    opacity 0.80
}
